*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* padding: 50px; */
}
.bakery_product_item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        padding-top: 30px;
}