*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.visible_product_picture img{
    height: 150px;
    width:180px;
    object-fit: cover;
}
.visible_product{
    padding: 50px 50px 50px 0px;
    display: flex;
    gap: 100px;
}
.visible_product_content{
    display: none;
    gap: 40px;
    text-wrap: wrap;
}
.visible_product_content1{
    display: flex;
    gap: 40px;
    text-wrap: wrap;
}

/* buttons */
.addToCart_product_visible{
    margin-top:10px ;
    padding: 15px 46px;
    background-color: #FF9F00;
    font-weight: 660;
    color: white;
    cursor: pointer;
    border: none;
}
.buy_product_visible{
    margin-top:10px ;
    padding: 15px 55.5px;
    background-color: #FB641B;
    font-weight: 660;
    color: white;
    cursor: pointer;
    border: none;
}

#logo{
    margin-top: 13.5px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
#logo:active{
    transform: scale(1.1);
}

/* down stream */
.sale_products  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    gap: 30px;
    padding: 50px 50px 50px 5px;
}
.sale_product_items{
    display: grid;
    height: auto;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item_exButtons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.number_add{
    color: white;
    position: absolute;
    top: 24px;
    right: 342px;
    background-color: red;
    padding: 0px 8px;
    border-radius: 14px;
}

.minus,
.plus{
    padding: 2px 10px;
    border: none;
    border-radius: 10px;
}
.productList{
    margin-top: 20px;
}
.line_define{
    height: 2px;
    background-color: red;
    width: 100%;
    margin: 10px 0;
}
.extDisplay {
    display: block;
    color: white;
    position: absolute;
    top: 17.2%;
    right: 0px;
    width: 400px;
    padding: 10px;
    height: 76.8vh;
    transition: 0.5s;
    background: rgb(0 0 0 / 91%);
    z-index: 99;
    border-radius: 10px;
    overflow-y: scroll;
}

.productList {
    margin-bottom: 60px; 
    overflow-y: auto;
}

.checkout {
    position: sticky; 
    top: 10px;
    background-color: black; 
    padding: 10px;
    z-index: 100; 
}

.total {
    border: 2px solid green;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 0;
    gap: 120px;
}
.cross{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.cartName{
    text-align: center;
}

.btn_shopee{
    border: none;
    background-color: transparent;
    font-size: 15px;
    cursor: pointer;
    color: green;
}


/* responsive */
@media screen and (max-width:785px){
    .number_add{
        height: 25px;
        width: 28px;
        position: relative;
        top: -42px;
        left: 153px;
    }
.category_section{
    display: none;
}
.footer_side2{
    display: none;
}
.extDisplay {
    display: block;
    color: white;
    position: absolute;
    top: 58.9%;
    right: 24px;
    width: 330px;
    padding: 10px;
    height: 60.5vh;
    top: 47%;
    right: 12%;
    width: 330px;
    padding: 10px;
    height: 60.5vh;
}
.visible_product_content1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.visible_product {
    padding: 50px 30px 50px 30px;

}
.sale_products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: auto;
    gap: 30px;
    overflow-x: scroll;
    padding: 50px 30px 50px 20px;
}

}